*{margin: 0;padding: 0; color: white;}

.controls {
  display: flex;
  padding: 8px;
  gap: 8px;
}
label {
  display: flex;
  align-items: center;
  gap: 6px;
}
select {
  background: #282C34;
  color: white;

}
input {
  background-color: rgba(255, 255, 255, 0.055);
  outline: navy;
  padding: 2px 4px;
  border-style: solid;
  color: white;
}
.info {
  color: rgba(255, 255, 255, 0.466);
  display: flex;
  gap: 20px;
  padding: 5px 10px;
}
.snap-code {
  background-color: #322b33;
  padding: 8px 14px;
  margin: 0 8px 8px 8px;
  border-radius: 14px;
  display: none;
}
.code {
  font-family: Cascadia Code;
  color: hsl(296, 66%, 52%);
}
canvas {
  font-feature-settings: 'ss01','cv02','cv27', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07','ss09','ss20','cv31', 'calt', 'dlig','zero','onum';
  width: 100%;
  max-width: 1000px;
  margin: 0 auto ;
  display: block;
}
.btn-paste {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #ae00ff;
  cursor: pointer;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  color: white;
  font-size: 13px;
}